<div class="well" id="about">
  <legend>
    What is Lacquer Love&Lend?
    <%= link_to '<span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> back'.html_safe, :back, class: 'pull-right highlight', style: 'font-size: 0.7em;' %>
  </legend>
  <p>
  <h4><strong>
  Built by and for people who love nail lacquer, Lacquer Love&Lend allows you to organize and share your collection, discover your friends' lacquers, and coordinate lacquer loans!
  </strong></h4>
  <ul style="font-size: 1.1em;">
    <li>
    <%= link_to 'Explore the brands', brands_path, class: 'highlight', id: 'see-brands' %> and search for lacquers (use the <%= link_to 'Find a Lacquer', '#', class: 'highlight', id: 'find-lacquer' %> search box in the top navigation bar).
    </li>
    <li>
    <% if !current_user %>
      <%= link_to 'Sign in with Facebook', login_path, class: 'highlight', id: 'brand-show-sign-in' %> 
    <% else %>
      Sign in with Facebook 
    <% end %>
    (we will not post to your wall or news feed) to start organizing your lacquers and adding your lacquer loving friends to your network:
        <div class="row">
          <div class="col-md-6">
          <p style="margin-top: 10px;">
            <h5><strong>Organize</strong></h5>
            <p>
            From your 
            <% if current_user %>
            <%= link_to 'profile page', user_path(current_user), class: 'highlight', id: 'profile-page' %>, 
            <% else %>
            profile page,
            <% end %>
            <%= link_to 'add lacquers to your collection', '#', id: 'add-lacquers', class: 'highlight' %> from our catalog of nearly 2,000 lacquers (or enter your own). 
            </p>
            <p>
            Want to see just your reds or your glitters? Tag your lacquers with colors and finishes for <%= link_to 'easy filtering', '#', id: 'filter-lacquers', class: 'highlight' %>.
            </p>
          </p>
          <h5><strong>Connect</strong></h5>
          <p>
            Already have friends on Lacquer Love&Lend? Find them with the <%= link_to 'Find a Lacquer Lover', '#', class: 'highlight', id: 'find-lacquer-lover' %> search box in the top navigation bar.
          </p>
          <p> 
            <% if current_user %>
              <span id="add-friends">
              <%= link_to 'Invite friends', new_invite_path, id:"new-invite-link" %> 
              </span>
            <% else %>
              <%= link_to 'Invite friends', '#', id: "add-friends", class: "highlight" %>
            <% end %>
            with the click of a button from your profile page.
            <a data-toggle="modal" data-target="#inviteModal" style="display: none;" id="hidden-invite-modal-link"></a>
          </p>
          <h5><strong>Share</strong></h5> 
          <p>
            <%= link_to "Mark lacquers 'loanable'", '#', id: 'make-loanable', class: 'highlight' %> to allow your friends to borrow them.
          </p>
          <p>
            View your friends' profiles to see their lacquers - you can <%= link_to 'request to borrow those that are available', '#', id: 'borrow-it', class: 'highlight' %>, and buy those that are not.  
          <p>
          </div>
          <div class="col-md-6">
            <%= image_tag 'profile_screenshot.png', width: '100%', id:'profile' %>
            <%= image_tag 'profile_screenshot_filter_lacquers.png', width: '100%', id:'profile-filter-lacquers', style:"display: none;" %>
            <%= image_tag 'profile_screenshot_add_lacquers.png', width: '100%', id:'profile-add-lacquers', style:"display: none;" %>
            <%= image_tag 'profile_screenshot_add_friends.png', width: '100%', id:'profile-add-friends', style:"display: none;" %>
            <%= image_tag 'profile_screenshot_make_loanable.png', width: '100%', id:'profile-make-loanable', style:"display: none;" %>
            <%= image_tag 'profile_screenshot_borrow_it.png', width: '100%', id:'profile-borrow-it', style:"display: none;" %>
          </div>
        </div>
    </li>
  </ul>
  </p>
  <legend>Contribute!</legend>
  <span style="font-size: 1.1em;">
    <p>
    We want to make Lacquer Love&Lend as fun and useful for the community as it can be. Have suggestions on how we can improve? Please <%= link_to 'let us know', contact_path, class: "contact-link" %>! 
    </p>
    <p>
    Are you a developer? <%= link_to 'View the source code on Github', "https://github.com/roseweixel/lacquer-lover", target: "_blank" %> &mdash; pull requests are welcomed!
    </p>
  </span>
</div>
