<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3><%= @requester.name %> would like to borrow <%= @user_lacquer.lacquer.name %> from you.</h3>

    <p>
      <a href="<%= @user_url %>">Go to your profile page</a> to respond to <%= @requester.first_name %>'s request.
      <br>
      <br>
      If you choose to accept this request, you may set a due date for the loan (or not), and update this date at any time. We will send <%= @requester.first_name %> a notification that you've agreed to the loan and <%= @requester.first_name %> will be able to see the accepted loan and due date on their profile page.
      <br>
      <br>
      Once the loan is accepted, getting <%= @user_lacquer.lacquer.name %> to your friend (and back to you) is up to you and <%= @requester.name %> to coordinate, though we will send a friendly reminder when the due date is coming up!
    </p>

      Have a great day,
      <br>
      <br>
      Your Friends At <a href="http://lacquer-love-and-lend.herokuapp.com/">Lacquer Love&Lend</a>
  </body>
</html>
