<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3><%= @owner.name %> has agreed to loan you <%= @user_lacquer.lacquer.name %>!</h3>

    <p>
      It's now up to you and <%= @owner.first_name %> to coordinate getting <%= @user_lacquer.lacquer.name %> to you (and then back to <%= @owner.first_name %>). After <%= @user_lacquer.lacquer.name %> is given to you, if <%= @owner.first_name %> chooses to set a due date we will send an email to let you know when it's due back.
      <br>
      <br>
      We hope you love <%= @user_lacquer.lacquer.name %>!
    </p>

      Have a great day,
      <br>
      <br>
      Your Friends At <a href="http://lacquer-love-and-lend.herokuapp.com/">Lacquer Love&Lend</a>
  </body>
</html>
