<% if current_user %>
  <% if result.favorited_by?(current_user) %>
    <span class="likes-message pull-right">
    <% favorite = Favorite.find_by(lacquer_id: result.id, user_id: current_user.id) %>
    <%= link_to destroy_favorite_path(:lacquer_id => result.id, :user_id => current_user.id, :favorite_id => favorite.id), action: "destroy", method: "delete", remote: true do %>
      <span class="like-btn text-center" lacquer_id="<%= result.id %>">
        <!-- <span class="glyphicon glyphicon-heart red-heart"></span> -->
        <i class="fa fa-heart red-heart"></i>
      </span>
    <% end %>
      Loved by <strong>you</strong> and <strong><%= result.favorites.count - 1 %> other <%= 'person'.pluralize(result.favorites.count - 1) %></strong>
    </span>
  <% else %>
    <span class="likes-message pull-right">
    <%= link_to new_favorite_path(:lacquer_id => result.id, :user_id => current_user.id), action: "create", method: "post", remote: true do %>
      <span class="like-btn text-center" lacquer_id="<%= result.id %>">
        <i class="fa fa-heart-o red-heart"></i>
      </span>
    <% end %>
      Loved by <strong><%= result.favorites.count %> <%= 'person'.pluralize(result.favorites.count) %></strong>
    </span>
  <% end %>
<% else %>
  <span class="likes-message pull-right">
  <span class="like-btn text-center" lacquer_id="<%= result.id %>">
    <span class="glyphicon glyphicon-heart grey-heart"></span>
  </span>
    Loved by <strong><%= result.favorites.count %> <%= 'person'.pluralize(result.favorites.count) %></strong>
  </span>
<% end %>
