<% if @results.any? %>
  <div class="row">
  <h3 class="col-xs-12">Lacquers with names like '<%= @search_term %>'</h3><br>
  </div><br>
  <% if !current_user %>
  <div class="row">
  <div class="col-xs-12">
  <%= link_to "Sign In To Favorite &<br>Add Lacquers to Your Collection!".html_safe, "/auth/facebook", class: "btn btn-primary btn-xs pull-right", id: "brand-show-sign-in" %>
  </div>
  </div>
  <% end %>
  <div class="list-group" style="margin: 15px;">
  <% @results.each do |result| %>
    <div class="long-item-card search_result_item list-group-item row">
      <div class="col-xs-1" style="margin-right:50px;">
        <%= picture_for(result) %>
      </div>
      <div class="col-xs-6">
        <%= result.brand.name %><br><a href="<%= lacquer_path(result) %>"><%= result.name %></a><br>
        <p id="favorite-wrapper" style="float: left;" lacquer_id="<%= result.id %>">
          <%= render partial: 'lacquers/favorite', locals: {result: result} %>
        </p>
      </div>
      <div class="col-sm-3 add-or-remove-wrapper">
        <p class="add-or-remove" style="margin-top:0; padding-top:0;">
          <%= render partial: 'add_or_remove_from_collection', locals: {lacquer: result} %>
        </p>
      </div>
    </div>
  <% end %>
  </div>
<% else %>
  <h3>Sorry, we couldn't find any lacquers with names like '<%= @search_term %>'</h3>
<% end %>

<!-- <div class="like-btn text-center" lacquer_id="1"> -->
                <!-- <span class="glyphicon glyphicon-heart red-heart"></span> -->
              <!-- </div> -->
