<% if @results.any? %>
  <h3>Lacquers with names like '<%= @search_term %>'</h3><br>
  <div class="list-group">
  <% @results.each do |result| %>
    <p class="search_result_item list-group-item">
    <a href="<%= lacquer_path(result) %>"><%= picture_for(result) %> <%= result.brand.name %> - <%= HTMLEntities.new.decode result.name %></a>
    <% if current_user %>
      <% if result.favorited_by?(current_user) %>
        <%= link_to destroy_favorite_path(:lacquer_id => result.id, :user_id => current_user.id), action: "destroy", method: "delete" do %>
          <span class="like-btn text-center pull-right" lacquer_id="<%= result.id %>">
            <span class="glyphicon glyphicon-heart red-heart"></span>
          </span>
        <% end %>
      <% else %>
        <%= link_to new_favorite_path(:lacquer_id => result.id, :user_id => current_user.id), action: "create", method: "post" do %>
          <span class="like-btn text-center pull-right" lacquer_id="<%= result.id %>">
            <span class="glyphicon glyphicon-heart grey-heart"></span>
          </span>
        <% end %>
      <% end %>
    <% end %>
    </p>
  <% end %>
  </div>
<% else %>
  <h3>Sorry, we couldn't find any lacquers with names like '<%= @search_term %>'</h3>
<% end %>

<!-- <div class="like-btn text-center" lacquer_id="1"> -->
                <!-- <span class="glyphicon glyphicon-heart red-heart"></span> -->
              <!-- </div> -->
