<% if @results.any? %>
  <div class="row">
  <h3 class="col-xs-7">Lacquers with names like '<%= @search_term %>'</h3><br>
  <% if !current_user %>
  <div class="col-xs-5">
  <%= link_to "Sign In To Favorite &<br>Add Lacquers to Your Collection!".html_safe, "/auth/facebook", class: "btn btn-primary btn-sm pull-right", id: "brand-show-sign-in" %>
  </div>
  <% end %>
  </div><br>
  <div class="list-group" style="margin: 15px;">
  <% @results.each do |result| %>
    <div class="search_result_item list-group-item row">
      <div class="col-xs-1" style="margin-right:50px;">
        <%= picture_for(result) %>
      </div>
      <div class="col-xs-5">
        <%= result.brand.name %><br><a href="<%= lacquer_path(result) %>"><%= result.name %></a>
      </div>
      <div class="col-sm-5 pull-right" style="margin-top:-8px; margin-left:-20px;">
        <p id="favorite-wrapper" lacquer_id="<%= result.id %>">
          <%= render partial: 'lacquers/favorite', locals: {result: result} %>
        </p><br>
        <p class="add-or-remove pull-right" style="margin-top:0; padding-top:0;">
          <%= render partial: 'add_or_remove_from_collection', locals: {lacquer: result} %>
        </p>
      </div>
    </div>
  <% end %>
  </div>
<% else %>
  <h3>Sorry, we couldn't find any lacquers with names like '<%= @search_term %>'</h3>
<% end %>

<!-- <div class="like-btn text-center" lacquer_id="1"> -->
                <!-- <span class="glyphicon glyphicon-heart red-heart"></span> -->
              <!-- </div> -->
