<h1><%= picture_for(@lacquer) %>  <%= @lacquer.name %> - <%= link_to @lacquer.brand.name, brand_path(@lacquer.brand) %></h1>

<h3><strong>Color Tags</strong></h3>
<% @lacquer.color_tags.each do |color_tag| %>
	<span style="font-size:20px;">#<%= color_tag %></span>
<% end %>

<h3><strong>Finish Tags</strong></h3>
<% @lacquer.finish_tags.each do |finish_tag| %>
	<span style="font-size:20px;">#<%= finish_tag %></span>
<% end %>


<h3><strong>Swatches!</strong></h3>
<% if @lacquer.swatches.count > 0 %>
	<div class="row">
	<% @lacquer.swatches.each do |swatch| %>
		<% if swatch.image.file? %>
			<div class="col-md-3" style="margin: 10px;">
			<%= image_tag swatch.image.url(:medium)%><br>
			added by <%= link_to swatch.user.name, user_path(swatch.user) %><br>
			<% if swatch.user == current_user %>
				<%= link_to 'delete this swatch', swatch_path(swatch), method: 'DELETE' %>
			<% end %>
			</div>
		<% end %>
	<% end %>
	</div>
<% end %>

<% if current_user  %>
    
  <% if current_user.lacquers.include? @lacquer %>
	  <% user_lacquer = current_user.user_lacquers.find_by(lacquer: @lacquer) %>
    <%= button_to "Remove from My Collection", user_lacquer_path(user_lacquer.id), method: :delete, class: "btn btn-danger" %>
	<% else %>
	    <%= button_to "Add to My Collection", user_lacquers_path, method: :post, params: {"user_lacquer[lacquer_id]" => @lacquer.id}, class: "btn btn-primary" %>
	<% end %>

<% end %>