<h1><%= picture_for(@lacquer) %>  <%= @lacquer.name %> - <%= link_to @lacquer.brand.name, brand_path(@lacquer.brand) %></h1>

<h3><strong>Color Tags</strong></h3>
<% @lacquer.color_tags.each do |color_tag| %>
	<span style="font-size:20px;">#<%= color_tag %></span>
<% end %>

<h3><strong>Finishes Tags</strong></h3>
<% @lacquer.finish_tags.each do |finish_tag| %>
	<span style="font-size:20px;">#<%= finish_tag %></span>
<% end %>


<h3><strong>Swatches!</strong></h3>
<% if @lacquer.swatches.count > 0 %>
	<div class="row">
	<% @lacquer.swatches.each do |swatch| %>
		<% if swatch.image.file? %>
			<div class="col-md-3" style="margin: 10px;">
			<%= image_tag swatch.image.url(:medium)%><br>
			added by <%= link_to swatch.user.name, user_path(swatch.user) %><br>
			<% if swatch.user == current_user %>
				<%= link_to 'delete this swatch', swatch_path(swatch), method: 'DELETE' %>
			<% end %>
			</div>
		<% end %>
	<% end %>
	</div>
<% end %>