<%#= picture_for(@lacquer) %>  
<div class="row">
<div class="well">
	<legend id="top" style="font-size: 2em;" class="row">
		<div class="col-sm-7">
		<%= @lacquer.name %> - <%= link_to @lacquer.brand.name, brand_path(@lacquer.brand) %>
		</div>
		<div class="col-md-5">
		<span class="pull-right" style="font-size: .5em; padding-bottom: 5px; margin-right:-10px;">
			<span class="lacquer-show-favorite" id="favorite-wrapper" lacquer_id = "<%= @lacquer.id %>">
			<%= render partial: 'favorite', locals: {result: @lacquer} %>
			</span><br>
		<% if current_user  %>
			<span class="pull-right">
		  <% if current_user.lacquers.include? @lacquer %>
			  <% user_lacquer = current_user.user_lacquers.find_by(lacquer: @lacquer) %>
		    <%= render 'user_lacquers/remove_button', lacquer: @lacquer, user_lacquer: user_lacquer %>
			<% else %>
			  <%= render 'user_lacquers/add_button', lacquer: @lacquer %>
			<% end %>
			</span>
		<% else %>
		 <%= link_to "Sign in to favorite & add<br>this lacquer to your collection!".html_safe, "/auth/facebook", class: "btn btn-primary btn-xs pull-right", id: "brand-show-sign-in" %>
		<% end %>
		</span>
		</div>
	</legend>

<div class="row" style="margin-top: 20px;">
	<div class="col-sm-5">
		<%= large_picture_for(@lacquer) %>  
	</div>
	<div class="col-sm-7">
	<h3><strong>Color Tags</strong></h3>
	<% if @lacquer.color_tags.count > 0 %>
		<% @lacquer.color_tags.each do |color_tag| %>
			<span style="font-size:20px;">#<%= color_tag %></span>
		<% end %>
	<% else %>
		No color tags yet!
	<% end %>

	<h3><strong>Finish Tags</strong></h3>
	<% if @lacquer.color_tags.count > 0 %>
		<% @lacquer.finish_tags.each do |finish_tag| %>
			<span style="font-size:20px;">#<%= finish_tag %></span>
		<% end %>
	<% else %>
		No finish tags yet!
	<% end %>

	<h3><strong>Swatches</strong></h3>

	<% if @lacquer.swatches.count > 0 %>
	<div class="row">
		<% @lacquer.swatches.each do |swatch| %>
			<% if swatch.image.file? %>
				<div class="col-md-5">
				<%= image_tag swatch.image.url(:medium)%><br> 
				<% if current_user %>
					added by <%= link_to swatch.user.name, user_path(swatch.user), style:"display:inline;" %> on <%= swatch.created_at.strftime("%m/%d/%Y")  %>
				<% end %>
				<br>
				<% if swatch.user == current_user %>
					<%= link_to 'delete this swatch', swatch_path(swatch), method: 'DELETE' %>
				<% end %>
				</div>
			<% end %>
		<% end %>
	</div>
	<% else %>
		<div class="row">
			<div class="col-md-5">
	 		No swatches yet!
	 		</div>
	 	</div>
	<% end %>
	</div>
</div>
</div>
