<%#= picture_for(@lacquer) %>  
<div class="row">
<h1 class="col-xs-8"><%= @lacquer.name %> - <%= link_to @lacquer.brand.name, brand_path(@lacquer.brand) %></h1>

	<% if current_user && @lacquer.favorited_by?(current_user)%>
	<div class="col-xs-1 favorites-count favorited" style="text-align: center; margin-top: 21px;">
		<%= link_to @lacquer.favorites.count, destroy_favorite_path(:lacquer_id => @lacquer.id, :user_id => current_user.id), action:"destroy", method:"delete" %>
	</div>
	<% else %>
	<div class="col-xs-1 favorites-count not-favorited" style="text-align: center; margin-top: 21px;">
		<% if current_user %>
			<%= link_to @lacquer.favorites.count, new_favorite_path(:lacquer_id => @lacquer.id, :user_id => current_user.id), action:"create", method:"post" %>
		<% else %>
			<%= @lacquer.favorites.count %>
		<% end %>
	</div>
	<% end %>

	<div class="col-xs-3" style="margin-top: 21px;">
	<% if current_user  %>

	  <% if current_user.lacquers.include? @lacquer %>
		  <% user_lacquer = current_user.user_lacquers.find_by(lacquer: @lacquer) %>
	    <%= render 'user_lacquers/remove_button', lacquer: @lacquer, user_lacquer: user_lacquer %>
		<% else %>
		  <%= render 'user_lacquers/add_button', lacquer: @lacquer %>
		<% end %>

	<% end %>
	</div>
</div>

<div class="row" style="margin-top: 20px;">
	<div class="col-md-4">
		<%= large_picture_for(@lacquer) %>  
	</div>
	<div class="col-md-8">
	<h3><strong>Color Tags</strong></h3>
	<% if @lacquer.color_tags.count > 0 %>
		<% @lacquer.color_tags.each do |color_tag| %>
			<span style="font-size:20px;">#<%= color_tag %></span>
		<% end %>
	<% else %>
		No color tags yet!
	<% end %>

	<h3><strong>Finish Tags</strong></h3>
	<% if @lacquer.color_tags.count > 0 %>
		<% @lacquer.finish_tags.each do |finish_tag| %>
			<span style="font-size:20px;">#<%= finish_tag %></span>
		<% end %>
	<% else %>
		No finish tags yet!
	<% end %>

	<h3><strong>Swatches</strong></h3>
	<% if @lacquer.swatches.count > 0 %>
		<div class="row">
		<% @lacquer.swatches.each do |swatch| %>
			<% if swatch.image.file? %>
				<div class="col-md-3" style="margin: 10px;">
				<%= image_tag swatch.image.url(:medium)%><br>
				added by 
				<% if current_user %>
					<%= link_to swatch.user.name, user_path(swatch.user) %>
				<% else %>
					<%= swatch.user.name %>
				<% end %>
				<br>
				<% if swatch.user == current_user %>
					<%= link_to 'delete this swatch', swatch_path(swatch), method: 'DELETE' %>
				<% end %>
				</div>
			<% end %>
		<% end %>
		</div>
	<% else %>
	 No swatches yet!
	<% end %>
	</div>
</div>
