<span class="live-notifications">
  <% if user == current_user %>
  <div class="col-sm-5">
    <!-- FRIENDSHIPS YOU NEED TO TAKE ACTION ON -->
    <h3>Friendship Notifications</h3>
    <% if user.friendships_for_your_approval.count > 0 %>
      <legend class="no-margin-bottom">Friendships Awaiting Your Approval</legend>
      <ul class="list-group" id="friendships-for-your-approval">
        <%= render 'friendships_for_your_approval', user: user %>
      </ul>
    <% end %>
    <!-- END OF FRIENDSHIPS YOU NEED TO TAKE ACTION ON -->

    <!-- FRIENDSHIPS YOU'VE REQUESTED NOT YET APPROVED -->
    <% if user.requested_friends_awaiting_approval.count > 0 %>
      <legend class="no-margin-bottom">Your Pending Friend Requests</legend>
      <ul class="list-group" id="pending-friend-requests">
        <%= render 'pending_friend_requests', user: user %>
      </ul>
    <% end %>
    <!-- END OF FRIENDSHIPS YOU'VE REQUESTED NOT YET APPROVED -->

    <!-- RECTED FRIENDSHIPS YOU'VE REQUESTED -->
    <% if user.rejected_friend_requests.count > 0 %>
      <legend class="no-margin-bottom">Sorry, these friend requests were not approved.</legend>
      <ul class="list-group" id="rejected-friend-requests">
        <%= render 'rejected_friend_requests', user: user %>
      </ul>
    <% end %>
    <!-- END OF RECTED FRIENDSHIPS YOU'VE REQUESTED -->

    <!-- TRANSACTIONS YOU OWN -->
    <h3>Transaction Notifications</h3>

    <% transactions_categories.each do |category| %>
      <span id="<%= category %>_wrapper" transactions_count="<%= user.send(category).count %>" style="display:inline-block; width: 100%;">
        <legend class="no-margin-bottom">
          <%= header_text_for_category(category) %>
          
          <span class="badge-tracker-wrapper">
            <%= render 'transactions_count', count: user.send(category).count %>
          </span> 

          <span class="green badge due-date-updated hidden" style="vertical-align: middle; margin-top: -3px;">
            Due date updated!
          </span>

          <i class="fa fa-minus"></i><i class="fa fa-plus"></i>

          <span class="hidden-tracker" id="<%= category %>_state_array" style="display: none;">
            <%= render 'hidden_tracker', user: user, category: category %>
          </span>
        </legend>

        <%# if user.send(category).count > 0 %>
          <ul class="list-group toggleable" id="<%= category %>">
            <%= render category, user: user %>
          </ul>
        <%# end %>
      </span>
    <% end %>
  
  </div>
  <% end %>
</span>
