<% user.transactions_you_accepted.each do |transaction| %>
  <% friend = User.find(transaction.requester_id) %>
  <% lacquer = Lacquer.find(transaction.user_lacquer.lacquer_id) %>
  <div class="list-group-item" style='padding-top: 15px;'>
    <strong>You've agreed to loan <%= link_to lacquer.name, lacquer_path(lacquer) %> out to <%= link_to friend.name, user_path(friend) %></strong>.<br> 
    <%= link_to "I lent #{lacquer.name} to #{friend.name}", transaction_path(transaction, :state => 'active', :date_became_active => Date.today), {:method => "PATCH", :class =>"btn btn-info btn-xs"} %> <%= link_to 'cancel', transaction_path(transaction), method: 'DELETE', class: "btn btn-primary btn-xs", data: { confirm: "Are you sure you want to cancel this transaction?" } %><br><br> 

      <%= link_to "send #{friend.first_name} a message", new_transactional_message_path(:transaction_id => transaction.id) %>
  </div>
<% end %>
