<% lacquer = user_lacquer.lacquer %>
  <tr class="lacquer <%= lacquer.color_tags.join(' ') %> <%= lacquer.finish_tags.join(' ') %>" lacquer-id="<%= lacquer.id %>" user-lacquer-id="<%= user_lacquer.id %>" brand="<%= lacquer.brand.name %>" colors="<%= lacquer.color_tags.join(' ') %>" finishes="<%= lacquer.finish_tags.join(' ') %>">
    <td>
    <% if display_image(user_lacquer) %>
      <%= display_image(user_lacquer) %>
    <% else %>
        <%= picture_for(lacquer) %><br>
      <% if user == current_user %>
        <%= form_for lacquer.swatches.new, :html => { :multipart => true, :style => "display:inline-block; width: 140px;", class: "swatchform" } do |f| %>
          <h6><a href="javascript:void(0)" class="addswatch">Add a Swatch!</a></h6>
          <span style="font-size:10px; display: none;" class="swatchfields">
          <%= f.hidden_field :lacquer_id, value: user_lacquer.lacquer_id %>
          <%= f.file_field :image, style:"display: inline-block;" %><br>
          <%= f.submit :class => 'btn btn-xs btn-default' %>
          </span>
        <% end %>
      <% end %>
    <% end %>
    </td>
    <td style="white-space: normal;"><%= link_to lacquer.brand.name, brand_path(lacquer.brand.id) %></td>
    <%= render 'favorites/favorite', lacquer: lacquer, user_lacquer: user_lacquer %>
    <td style="white-space: normal;">
    <%= link_to lacquer.name, lacquer_path(lacquer.id)%><br>
    </td>
    <td>
      <% user_lacquer.colors.each do |color| %> 
        <%= color.name %><br>
      <% end %>
    </td>
    <td>
      <% user_lacquer.finishes.each do |finish| %> 
        <%= finish.description %><br>
      <% end %>
    </td>
    <% if user == current_user %>

      <%= render 'user_lacquers/user_lacquer_loanable', user_lacquer: user_lacquer %>

      <%#= render 'user_lacquers/user_lacquer_giftable', user_lacquer: user_lacquer %>

      <%= render 'user_lacquers/user_lacquer_on_loan', user_lacquer: user_lacquer %>

      <td>
      <%= link_to "edit", edit_lacquer_path(lacquer.id, :params => { :user_lacquer_id => user_lacquer.id }), :class => "btn btn-xs btn-default" %>
      <%= link_to "<i class='fa fa-minus'></i>".html_safe, user_lacquer_path(user_lacquer), method: :delete, remote: true, class: "btn btn-danger btn-xs", title: "remove from your collection", data: { confirm: "Are you sure you want to remove #{user_lacquer.lacquer.name} from your collection?" } %>
      </td>
    <% else %>
      <% if user_lacquer.available? %>
        <%= render 'transactions/user_lacquer_transaction_request', user_lacquer: user_lacquer, user: user %>
      <% else %>
        <td>
        <%= link_to "Buy it!", user_lacquer.lacquer.url_for_buy_it_link, :target => "_blank", class: "btn btn-primary", style:"width: 104px;" %>
        </td>
      <% end %>
    <% end %>
  </tr>
