<h1><%= @user.first_name %>'s Profile</h1>
	
	<% if @user != current_user %>
	<%= form_for @friendship, method: :post do |f| %>
		<div class="form form-actions">
			<%= f.hidden_field :friend_id, value: @user.id %>
			<%= f.hidden_field :user_id, value: current_user.id %>
			<%= submit_tag "Add Friend", class: 'btn btn-primary' %>
		</div>
	<% end %>
	<% end %>

<h3><%= @user.first_name %>'s Lacquers</h3>
<ul>
<% @user.lacquers.each do |lacquer| %>
	<li><%= lacquer.name %> <%= link_to 'x', user_lacquer_path(:lacquer_id => lacquer.id, :user_id => @user.id), method: 'DELETE' %></li>
<% end %>
</ul>

<h3><%= @user.first_name %>'s Friends</h3>
<ul>
<% @user.friends.each do |friend| %>
	<li><%= link_to friend.name, user_path(friend) %></li>
<% end %>
</ul>