<% if @user == current_user %>
	<h1>Your Profile</h1>
<% else %>
	<h1><%= @user.first_name %>'s Profile</h1>
<% end %>

	<% if (@user != current_user) && (!current_user.all_friends.include?(@user)) %>
		<%= link_to "Add Friend", new_friendship_path(friend_id: @user) %><br>
	<% end %>
	
	<div id="public-profile">
		<h3>Lacquers: <%= @user.lacquers.count %></h3>
		<h3>Friends: <%= @user.accepted_friends.count %></h3>	
	</div>

<% if (@user == current_user) || (current_user.accepted_friends.include?(@user)) %>
	<section>
	<div class="page-header">
		<% if @user == current_user %>
			<h3>Your Lacquers</h1>
		<% else %>
			<h3><%= @user.first_name %>'s Lacquers</h3>
		<% end %>
	</div>
	<table class="table" id="user-lacquer-collection">
		<thead>
			<tr>
				<th>Brand</th>
				<th>Name</th>
				<th>Color</th>
				<th>Finish</th>
				<% if @user == current_user %>
					<th>Loanable?</th>
					<th>On Loan?</th>
					<th>DELETE</th>
				<% else %>
					<th>Loan Requests</th>
				<% end %>
			</tr>
		</thead>
		<tbody>
		<% @user.user_lacquers.each do |user_lacquer| %>
			<% lacquer = Lacquer.find(user_lacquer.lacquer_id) %>
			<tr>
				<td><%= lacquer.brand.name %></td>
				<td><%= lacquer.name %></td>
				<td><%= lacquer.color_string %></td>
				<td><%= lacquer.finish_string %></td>
				<% if @user == current_user %>
					<td>
						<%= form_for(user_lacquer) do |f| %>
							<%= f.check_box :loanable %>
							<%= f.submit :class =>"btn btn-default btn-xs", :value => "update" %>
						<% end %>
					</td>
					<td>
						<%= form_for(user_lacquer) do |f| %>
							<%= f.check_box :on_loan %>
							<%= f.submit :class =>"btn btn-default btn-xs", :value => "update" %>
						<% end %>
					</td>
					<td><%= link_to 'x', user_lacquer_path(:lacquer_id => lacquer.id, :user_id => @user.id), method: 'DELETE' %></td>
				<% else %>
					<% if user_lacquer.available? %>
						<td>
							<% if Transaction.where(requester_id: current_user.id, user_lacquer_id: user_lacquer.id, state:['pending', 'accepted']).empty? %>
								<%= form_for(@transaction) do |f| %>
									<%= f.hidden_field :type, value: 'Loan' %>
									<%= f.hidden_field :user_lacquer_id, value: user_lacquer.id %>
									<%= f.hidden_field :requester_id, value: current_user.id %>
									<%= f.hidden_field :owner_id, value: @user.id %>
									<%= f.submit 'Can I borrow this?' %>
								<% end %>
							<% else %>
								<% transaction = Transaction.where(requester_id: current_user.id, user_lacquer_id: user_lacquer.id).first %>
								<% if transaction.state == 'pending' %>
									<%= form_for(transaction, method: 'DELETE') do |f| %>
									<%= f.submit 'delete pending request' %>
								<% end %>
								<% end %>
							<% end %>
						</td>
					<% end %>
				<% end %>
			</tr>
	<% end %>
		</tbody>
	</table>
	</section>
	<% if @user.accepted_friends.count > 0 %>
	<h3>Friends</h3>
	<ul>
	<% @user.accepted_friends.each do |friend| %>
		<li><%= link_to friend.name, user_path(friend) %></li>
	<% end %>
	</ul>
	<% end %>
<% end %>

<% if @user == current_user %>
	<% if @user.requested_friends_awaiting_approval.count > 0 %>
	<h3>Your Pending Friend Requests</h3>
	<ul>
	<% @user.requested_friends_awaiting_approval.each do |friend| %>
		<li><%= link_to friend.name, user_path(friend) %></li>
	<% end %>
	</ul>
	<% end %>

	<% if @user.friendships_for_your_approval.count > 0 %>
	<h3>Friendships Awaiting Your Approval</h3>
	<ul>
	<% @user.friendships_for_your_approval.each do |friendship| %>
		<% friend = User.find(friendship.user_id) %>
		<li><%= link_to friend.name, user_path(friend) %> <%= link_to "Accept Friendship", friendship_path(friendship, :state => 'accepted'), {:method => "PATCH", :class =>"btn btn-success btn-xs"} %></li>
	<% end %>
	</ul>
	<% end %>

	<% if @user.owned_transactions.count > 0 %>

		<% if @user.transactions_for_your_approval.count > 0 %>
			<h3>Transactions Awaiting Your Approval</h3>
			<ul>
			<% @user.transactions_for_your_approval.each do |transaction| %>
				<% friend = User.find(transaction.requester_id) %>
				<% lacquer = Lacquer.find(transaction.user_lacquer.lacquer_id) %>
				<li><%= link_to friend.name, user_path(friend) %> has asked to borrow <%= lacquer.name %>. <%= link_to "Accept Request", transaction_path(transaction, :state => 'accepted'), {:method => "PATCH", :class =>"btn btn-success btn-xs"} %></li>
			<% end %>
			</ul>
		<% end %>

		<% if @user.transactions_you_accepted.count > 0 %>
			<h3>Transactions You Accepted</h3>
			<ul>
			<% @user.transactions_you_accepted.each do |transaction| %>
				<% friend = User.find(transaction.requester_id) %>
				<% lacquer = Lacquer.find(transaction.user_lacquer.lacquer_id) %>
				<li><%= link_to friend.name, user_path(friend) %> is borrowing <%= lacquer.name %>. <%= link_to "Conclude Request", transaction_path(transaction, :state => 'completed'), {:method => "PATCH", :class =>"btn btn-success btn-xs"} %></li>
			<% end %>
			</ul>
		<% end %>
	<% end %>
<% end %>