<% if @user == current_user %>
	<h1>Your Profile</h1>
<% else %>
	<h1><%= @user.first_name %>'s Profile</h1>
<% end %>

<% if (@user != current_user) && (!current_user.all_friends.include?(@user)) %>
	<%= link_to "Add Friend", new_friendship_path(friend_id: @user) %><br>
<% end %>

<div class="row">
	<!-- PUBLIC PROFILE -->
	<div class="col-sm-4" id="public-profile">
		<h3>Lacquers: <%= @user.lacquers.count %></h3>
		<h3>Friends: <%= @user.accepted_friends.count %></h3>
		<% if !@user.lacquers_added_by.empty? %>
			<% if @user == current_user %>
				<h3>Lacquers Added by You</h3>
			<% else %>
				<h3>Lacquers Added by <%= @user.name %></h3>
			<% end %>
			<ul>
			<% @user.lacquers_added_by.each do |lacquer| %>
				<li><%= link_to lacquer.name, lacquer_path(lacquer) %> (<%= link_to lacquer.brand.name, brand_path(lacquer.brand) %>)</li>
			<% end %>
			</ul>
		<% end %>

		<% if @user.owned_transactions %>
			<% if @user == current_user %>
				<h3>Your Loan Count: 
			<% else %>
				<h3><%= @user.name %>'s Loan Count: 
			<% end %>
			<%= @user.owned_transactions.count %></h3>
		<% end %>

		<% if @user.requested_transactions %>
			<% if @user == current_user %>
				<h3>Your Borrow Count: 
			<% else %>
				<h3><%= @user.name %>'s Borrow Count: 
			<% end %>
			<%= @user.requested_transactions.count %></h3>
		<% end %>
	</div>
	<!-- END OF PUBLIC PROFILE -->


	<!-- BEGINNING OF YOUR ALERTS & FRIENDSHIPS (IF YOU ARE THE CURRENT USER) -->
	<% if @user == current_user %>

		<% if @user.accepted_friends.count > 0 %>
			<div class="col-sm-3">
				<h3>Friends</h3>
				<ul>
				<% @user.accepted_friends.each do |friend| %>
					<li style="font-size:20px;"><%= link_to friend.name, user_path(friend) %></li>
				<% end %>
				</ul>
			</div>
		<% end %>

	<span class="live-notifications">
		<div class="col-sm-5">
			<!-- FRIENDSHIPS YOU NEED TO TAKE ACTION ON -->
			<% if @user.friendships_for_your_approval.count > 0 %>
				<h3>Friendships Awaiting Your Approval</h3>
				<ul>
					<% @user.friendships_for_your_approval.each do |friendship| %>
						<% friend = User.find(friendship.user_id) %>
						<li style='padding-top: 15px;'><%= link_to friend.name, user_path(friend) %><br> <%= link_to "Accept", friendship_path(friendship, :state => 'accepted'), {:method => "PATCH", :class =>"btn btn-success btn-xs"} %> <%= link_to "Reject", friendship_path(friendship, :state => 'rejected'), {:method => "PATCH", :class =>"btn btn-danger btn-xs"} %></li>
					<% end %>
				</ul>
			<% end %>
			<!-- END OF FRIENDSHIPS YOU NEED TO TAKE ACTION ON -->

			<!-- FRIENDSHIPS YOU'VE REQUESTED NOT YET APPROVED -->
			<% if @user.requested_friends_awaiting_approval.count > 0 %>
				<h3>Your Pending Friend Requests</h3>
				<ul>
					<% @user.requested_friends_awaiting_approval.each do |friend| %>
						<% friendship = Friendship.where(user_id: @user.id, friend_id: friend.id).first %>
						<li style='padding-top: 15px;'><%= link_to friend.name, user_path(friend) %></li>
						<%= link_to 'Cancel Pending Request', friendship_path(friendship), method: 'DELETE', :class =>"btn btn-danger btn-xs" %>
					<% end %>
				</ul>
			<% end %>
			<!-- END OF FRIENDSHIPS YOU'VE REQUESTED NOT YET APPROVED -->

			<!-- RECTED FRIENDSHIPS YOU'VE REQUESTED -->
			<% if @user.rejected_friend_requests.count > 0 %>
				<h3>Sorry, these friend requests were not approved.</h3>
				<ul>
					<% @user.rejected_friend_requests.each do |friendship| %>
						<% friend = User.find(friendship.friend_id) %>
						<li style='padding-top: 15px;'><%= link_to friend.name, user_path(friend) %></li>
						<%= link_to "conclude this request", friendship_path(friendship, :state => 'concluded'), {:method => "PATCH", :class =>"btn btn-warning btn-xs"} %>
					<% end %>
				</ul>
			<% end %>
			<!-- END OF RECTED FRIENDSHIPS YOU'VE REQUESTED -->

			<!-- TRANSACTIONS YOU OWN -->
			<% if @user.owned_transactions.count > 0 %>

				<!-- TRANSACTIONS AWAITING YOUR APPROVAL -->
				<% if @user.transactions_for_your_approval.count > 0 %>
					<h3>Transactions Awaiting Your Approval</h3>
					<ul>
					<% @user.transactions_for_your_approval.each do |transaction| %>
						<% friend = User.find(transaction.requester_id) %>
						<% lacquer = Lacquer.find(transaction.user_lacquer.lacquer_id) %>
						<li style='padding-top: 15px;'><%= link_to friend.name, user_path(friend) %> has asked to borrow <%= lacquer.name %>.</br> <%= link_to "Accept Request", transaction_path(transaction, :state => 'accepted'), {:method => "PATCH", :class =>"btn btn-success btn-xs"} %> <%= link_to "Reject Request", transaction_path(transaction, :state => 'rejected'), {:method => "PATCH", :class =>"btn btn-danger btn-xs"} %></li>
					<% end %>
					</ul>
				<% end %>
				<!-- END OF TRANSACTIONS AWAITING YOUR APPROVAL -->

				<!-- TRANSACTIONS YOU'VE ACCEPTED BUT NOT GIVEN OUT YET -->
				<% if @user.transactions_you_accepted.count > 0 %>
					<h3>Transactions You Accepted</h3>
					<ul>
					<% @user.transactions_you_accepted.each do |transaction| %>
						<% friend = User.find(transaction.requester_id) %>
						<% lacquer = Lacquer.find(transaction.user_lacquer.lacquer_id) %>
						<li style='padding-top: 15px;'>
							You've agreed to loan <%= lacquer.name %> out to <%= link_to friend.name, user_path(friend) %>.<br> <%= link_to "I gave #{lacquer.name} to #{friend.name}", transaction_path(transaction, :state => 'active', :date_became_active => Date.today), {:method => "PATCH", :class =>"btn btn-info btn-xs"} %>
						</li>
						<%= form_for transaction do |f| %>
							<%= f.label :due_date, "Add or Update Due Date" %>
							<%= f.date_field :due_date %>
							<%= f.submit :class =>"btn btn-info btn-xs" %>
						<% end %> 
					<% end %>
					</ul>
				<% end %>
				<!-- END OF TRANSACTIONS YOU'VE ACCEPTED BUT NOT GIVEN OUT YET -->

				<!-- CURRENTLY LOANED OUT -->
				<% if @user.active_owned_transactions.count > 0 %>
					<h3>Lacquers Currenly on Loan</h3>
					<ul>
					<% @user.active_owned_transactions.each do |transaction| %>
						<% friend = User.find(transaction.requester_id) %>
						<% lacquer = Lacquer.find(transaction.user_lacquer.lacquer_id) %>
						<li style='padding-top: 15px;'>
							Your <%= lacquer.name %> is currently loaned out to <%= link_to friend.name, user_path(friend) %>.<br> <%= link_to "#{friend.name} gave #{lacquer.name} back", transaction_path(transaction, :state => 'completed'), {:method => "PATCH", :class =>"btn btn-info btn-xs"} %>
						</li>
						<%= form_for transaction do |f| %>
							<%= f.label :due_date, "Add or Update Due Date" %>
							<%= f.date_field :due_date %>
							<%= f.submit :class =>"btn btn-info btn-xs" %>
						<% end %> 
					<% end %>
					</ul>
				<% end %>
				<!-- END OF CURRENTLY LOANED OUT -->
			<% end %>
			<!-- END OF TRANSACTIONS YOU OWN -->

			<!-- TRANSACTIONS YOU'VE REQUESTED -->
			<% if @user.requested_transactions.count > 0 %>
			
				<!-- CURRENTLY LOANED OUT TO YOU -->
				<% if @user.active_requested_transactions.count > 0 %>
					<h3>Lacquers Currently Loaned Out to You</h3>
					<ul>
						<% @user.active_requested_transactions.each do |transaction| %>
							<% friend = User.find(transaction.owner_id) %>
							<% lacquer = Lacquer.find(transaction.user_lacquer.lacquer_id) %>
							<li style='padding-top: 15px;'>
								<%= link_to friend.name, user_path(friend) %> gave you <%= lacquer.name %> on <%= transaction.date_became_active.strftime("%m/%d/%Y") %>.
								<% if transaction.due_date %>
									<% if transaction.overdue? %>
										<div class="alert alert-danger" role="alert" style="padding: 2px;">
										You're <%= pluralize(transaction.days_overdue, 'day') %> overdue to return this lacquer. Don't mess with karma - give it back!
										</div>
									<% elsif transaction.due_today? %>
									<div class="alert alert-dismissable alert-warning" style="padding: 2px;">
              
										Remember to give this lacquer back <strong>today</strong>!
									</div>
									<% elsif transaction.due_tomorrow? %>
									<div class="alert alert-dismissable alert-success" style="padding: 2px;">
										Remember to give this lacquer back <strong>tomorrow</strong>!
									</div>
									<% else %>
										The return date for this loan is <%= transaction.due_date.strftime("%m/%d/%Y") %>.
									<% end %>
								<% end %>
							</li>
						<% end %>
					</ul>
				<% end %>
				<!-- END OF CURRENTLY LOANED OUT TO YOU -->

				<!-- LOANS REQUESTED ACCEPTED NOT ACTIVE YET -->
				<% if @user.accepted_requested_transactions.count > 0 %>
					<h3>Accepted Loan Requests</h3>
					<ul>
					<% @user.accepted_requested_transactions.each do |transaction| %>
						<% friend = User.find(transaction.owner_id) %>
						<% lacquer = Lacquer.find(transaction.user_lacquer.lacquer_id) %>
						<li style='padding-top: 15px;'><%= link_to friend.name, user_path(friend) %> has agreed to loan you <%= lacquer.name %>.</li>
					<% end %>
					</ul>
				<% end %>
				<!-- END LOANS REQUESTED ACCEPTED NOT ACTIVE YET -->

				<!-- LOANS REQUESTED PENDING -->
				<% if @user.pending_requested_transactions.count > 0 %>
					<h3>Pending Loan Requests</h3>
					<ul>
					<% @user.pending_requested_transactions.each do |transaction| %>
						<% friend = User.find(transaction.owner_id) %>
						<% lacquer = Lacquer.find(transaction.user_lacquer.lacquer_id) %>
						<li style='padding-top: 15px;'>You've asked <%= link_to friend.name, user_path(friend) %> to loan you <%= lacquer.name %></li>
					<% end %>
					</ul>
				<% end %>
				<!-- END LOANS REQUESTED PENDING -->

				<!-- LOAN REQUESTS REJECTED -->
				<% if @user.rejected_requested_transactions.count > 0 %>
					<h3>Pending Loan Requests</h3>
					<ul>
					<% @user.rejected_requested_transactions.each do |transaction| %>
						<% friend = User.find(transaction.owner_id) %>
						<% lacquer = Lacquer.find(transaction.user_lacquer.lacquer_id) %>
						<li style='padding-top: 15px;'>It seems <%= link_to friend.name, user_path(friend) %> isn't able to loan you <%= lacquer.name %> at this time.</li>
						<%= link_to "conclude this request", transaction_path(transaction, :state => 'completed'), {:method => "PATCH", :class =>"btn btn-warning btn-xs"} %>
					<% end %>
					</ul>
				<% end %>
				<!-- END LOAN REQUESTS REJECTED -->

			<% end %>
			<!-- END OF TRANSACTIONS YOU'VE REQUESTED -->
		
		</div>
	<% end %>
	</span>
</div>
<!-- END OF YOUR ALERTS (IF YOU ARE THE CURRENT USER) -->
	

<% if (@user == current_user) || (current_user.accepted_friends.include?(@user)) %>
	<section>
	<div class="page-header">
		<% if @user == current_user %>
			<h3>Your Lacquers</h1>
			<h5>Add A Lacquer</h5>
			<div class="dropdown">
			  <select id="brand-selection" class="btn-default">
			    <option value="hasnt-been-chosen">Choose your brand</option>
			    <% Brand.order(:name).each do |brand| %>
			    	<option value="<%= brand.name %>"><%= brand.name %></option>
			    <% end %>
			  </select>
			</div>

			<% Brand.all.each do |brand| %>
				<div class="lacquer-dropdown dropdown btn" id="<%= brand.abbreviation %>-dropdown">
				  <%= form_for @new_user_lacquer, :url => url_for(:controller => 'user_lacquers', :action => 'create') do |f| %>

				  	<%= f.hidden_field :user_id, value: current_user.id %>
				  	<%= f.select(:lacquer_id, brand.lacquers.order(:name).collect {|p| [ p.name, p.id ] } + [ [ 'other', 'new' ] ], {:prompt => "Select an #{brand.name} lacquer"}, :class => "btn-default") %>

				    <%= f.submit value: "add this polish", :class => "add-lacquer btn disabled" %>
				  <% end %>
				</div>
			<% end %>



			<!-- ADD "OTHER" LACQUER FOR DEBORAH -->
			<% Brand.all.each do |brand| %>
				<% new_lacquer = brand.lacquers.new %>
			<div class="other-lacquer" id="<%= brand.abbreviation %>">
				<%= form_for new_lacquer, :url => url_for(:controller => 'lacquers', :action => 'create') do |f| %>
					<%= f.label :name %>
					<%= f.text_field :name, placeholder: "lacquer name", :required => true %>

    			<%= fields_for new_lacquer.user_lacquers.new do |user_lacquer_form| %>
						<div class="btn-group">
				    	<button type="button" class="btn btn-default dropdown-toggle color-dropdown" data-toggle="dropdown" aria-expanded="false">
					    	Select Colors <span class="caret"></span>
	  					</button>
		 					<ul class="dropdown-menu" role="menu" id="color-dropdown" style="padding: 10px;">
		 					<%= user_lacquer_form.collection_check_boxes :color_ids, Color.all, :id, :name do |b| %>
	  							<%= b.check_box %> <%= b.label %><br>
							<% end %>
		    			</ul>
	    			</div>
	    			<div class="btn-group">
				    	<button type="button" class="btn btn-default dropdown-toggle finish-dropdown" data-toggle="dropdown" aria-expanded="false">
					    	Select Finishes <span class="caret"></span>
	  					</button>
		 					<ul class="dropdown-menu" role="menu" id="finish-dropdown" style="padding: 10px;">
		    			<%= user_lacquer_form.collection_check_boxes :finish_ids, Finish.all, :id, :description do |b| %>
	  							<%= b.check_box %> <%= b.label %><br>
							<% end %>
		    			</ul>
		 
	    			</div>
	    			<div class="add-new-lacquer-to-collection">
		 						<%= user_lacquer_form.label "Add this lacquer to my collection." %>
		    				<%= check_box_tag :user_id, current_user.id, required: true %>
		    		<% end %>	
		    		</div>
		    		<%= f.hidden_field :brand_id, value: new_lacquer.brand_id %>
		    		<%= f.hidden_field :user_added_by_id, value: current_user.id %>
						<%= f.submit "Create Lacquer" %>
					<% end %>
				</div>
			<% end %>
			<!-- END OF ADD "OTHER" LACQUER FOR DEBORAH -->

			

		<!-- ***** END OF ADD OTHER LACQUERS ***** --> 	

		<% else %>
			<h3><%= @user.first_name %>'s Lacquers</h3>
		<% end %>
	</div>
	<table class="table table-striped table-hover " id="user-lacquer-collection">
		<thead>
			<tr>
				<th>Swatch</th>
				<th>Brand</th>
				<th>Name</th>
				<th>Colors</th>
				<th>Finishes</th>
				<% if @user == current_user %>
					<th>Loanable?</th>
					<th>On Loan?</th>
					<th>Remove From<br>Your Collection</th>
				<% else %>
					<th>Loan Requests</th>
				<% end %>
			</tr>
		</thead>
		<tbody>
		<% @user_lacquers.each do |user_lacquer| %>
			<% lacquer = Lacquer.find(user_lacquer.lacquer_id) %>
			<tr>
				<td>
				<% if !lacquer.swatches.empty? %>
					<%= image_tag user_lacquer.swatch_image %>
				<% else %>

						<%= picture_for(lacquer) %>
					<% if @user == current_user %>
						<%= form_for lacquer.swatches.new, :html => { :multipart => true } do |f| %>
							<h6>Add A Swatch!</h6>
							<span style="font-size:10px;">
							<%= f.hidden_field :user_id, value: current_user.id %>
							<%= f.hidden_field :lacquer_id, value: user_lacquer.lacquer_id %>
	    				<%= f.file_field :image %>
	    				<%= f.submit :class => 'btn btn-xs btn-default' %>
	    				</span>
						<% end %>
					<% end %>
				<% end %>
				</td>
				<td><%= link_to lacquer.brand.name, brand_path(lacquer.brand.id) %></td>
				<td><%= link_to lacquer.name, lacquer_path(lacquer.id) %><br>
				<% if @user == current_user %>
					<%= link_to "edit", edit_lacquer_path(lacquer.id, :params => { :user_lacquer_id => user_lacquer.id }), :class => "btn btn-xs btn-default" %>
				<% end %>
				</td>
				<td>
					<% user_lacquer.colors.each do |color| %> 
						<%= color.name %><br>
					<% end %>
				</td>
				<td>
					<% user_lacquer.finishes.each do |finish| %> 
						<%= finish.description %><br>
					<% end %>
				</td>
				<% if @user == current_user %>

					<td class="loanable" id="<%= user_lacquer.id %>">
						<% if user_lacquer.loanable %>
							<%= link_to "✔", user_lacquer_path(user_lacquer, params: {"user_lacquer[loanable]" => false}), {:method => "PATCH", :remote => true, :class =>"btn btn-success btn-xs"} %>
						<% else %>
							<%= link_to "✕", user_lacquer_path(user_lacquer, params: {"user_lacquer[loanable]" => true}),  {:method => "PATCH", :remote => true, :class =>"btn btn-danger btn-xs"} %>
						<% end %>
					</td>
					<td class="on-loan" id="0<%= user_lacquer.id %>">
						<% if user_lacquer.loanable %>
							<% if user_lacquer.on_loan %>
								<%= link_to "✔", user_lacquer_path(user_lacquer, params: {"user_lacquer[on_loan]" => false}), {:method => "PATCH", :remote => true, :class =>"btn btn-success btn-xs"} %>
							<% else %>
								<%= link_to "✕", user_lacquer_path(user_lacquer, params: {"user_lacquer[on_loan]" => true}), {:method => "PATCH", :remote => true, :class =>"btn btn-danger btn-xs"} %>
							<% end %>
						<% end %>
					</td>
					<td><%= link_to 'x', user_lacquer_path(user_lacquer), method: 'DELETE' %></td>
				<% else %>
					<% if user_lacquer.available? %>
						<td class="transaction-request" id="transaction-<%=user_lacquer.id%>">
							<% if Transaction.where(requester_id: current_user.id, user_lacquer_id: user_lacquer.id, state:['pending', 'accepted']).empty? %>
								<%= form_for(@transaction, remote: true) do |f| %>
									<%#= f.hidden_field :type, value: 'Loan' %>
									<%= f.hidden_field :user_lacquer_id, value: user_lacquer.id %>
									<%= f.hidden_field :requester_id, value: current_user.id %>
									<%= f.hidden_field :owner_id, value: @user.id %>
									<%= f.submit 'Can I borrow this?' %>
								<% end %>
							<% else %>
								<% transaction = Transaction.where(requester_id: current_user.id, user_lacquer_id: user_lacquer.id).first %>
								<% if transaction.state == 'pending' %>
									<%= form_for(transaction, method: 'DELETE', remote: true) do |f| %>
										<%= f.hidden_field :user_lacquer_id, value: user_lacquer.id %>
										<%= f.hidden_field :owner_id, value: @user.id %>
										<%= f.submit 'delete pending request' %>
									<% end %>
								<% end %>
							<% end %>
						</td>
					<% else %>
						<td>
						</td>
					<% end %>
				<% end %>
			</tr>
		<% end %>
		
		</tbody>
	</table>
	</section>
	
<% end %>
<%= will_paginate @user_lacquers %>

<% if @user == current_user %>
	<%= link_to "Export collection as JSON", user_path( id: @user.id, format: :json ) %>
<% end %>
