			    <%= fields_for @new_lacquer do |new_lacquer_form| %>
			    	<div class="other-lacquer">
			    		<%= new_lacquer_form.hidden_field :brand, value: "OPI", :class => "other-lacquer" %>
			    		<%= new_lacquer_form.hidden_field :user_added_by_id, value: current_user.id, :class => "other-lacquer" %>
			    		<%= new_lacquer_form.text_field :name, placeholder: "lacquer name", :class => "other-lacquer", :required => true %>
			    	</div>

			    <div class="btn-group other-lacquer">
			    	<button type="button" class="btn btn-default dropdown-toggle other-lacquer color-dropdown" data-toggle="dropdown" aria-expanded="false">
				    	Select Colors <span class="caret"></span>
  					</button>
	 					<ul class="dropdown-menu" role="menu" id="color-dropdown" style="padding: 10px;">
	    			<%= new_lacquer_form.collection_check_boxes :color_ids, Color.all, :id, :name do |b| %>
  							<%= b.check_box %> <%= b.label %><br>
						<% end %>
	    			</ul>
    			</div>

    			<a href="" class="dropdown-btn other-lacquer finish-dropdown" data-toggle="dropdown">
            Select Finishes
            <b class="caret"></b>
          </a>
          <div class="dropdown-menu" id="finish-dropdown" style="padding: 10px;">
    			<%= new_lacquer_form.collection_check_boxes :finish_ids, Finish.all, :id, :description%><br>
    			</div>
			    <% end %>