<div class="col-md-3 lacquer" id="<%=lacquer.id%>">
  <div class="panel panel-info">
    <div class="panel-heading">
      <div class="panel-title checkbox" lacquer-id="<%=lacquer.id%>">
        <%= link_to lacquer.formatted_name, lacquer_path(lacquer.id), style: "margin-left: -20px;" %>
        <% if user %>
          
          <%= check_box_tag 'lacquer_ids[]', lacquer.id, false, id: "checkbox#{lacquer.id}" %>
          <label style="margin-left: 28px; top: 7px;" for="checkbox<%= lacquer.id %>" ></label>
          <span id="favorite-<%= lacquer.id %>" class="brand-show-favorite pull-right">
          <%= render partial: 'favorites/favorite', locals: {lacquer: lacquer, user_lacquer: nil} %>
          </span>
          <% if user.lacquers.include?(lacquer) %>
          <i class="fa fa-check pull-right"></i>
          <% end %>
          
        <% end %>
      </div>
    </div>
    <div class="panel-body" style="text-align:center;">
    <%= picture_for(lacquer) %>
    </div>
  </div>
</div>
