<div class="col-md-3 lacquer" id="<%=lacquer.id%>">
  <div class="panel panel-info">
    <div class="panel-heading">
      <div class="panel-title" lacquer-id="<%=lacquer.id%>">
        <%= link_to lacquer.formatted_name, lacquer_path(lacquer.id) %>
        <%= check_box_tag 'lacquer_ids[]', lacquer.id %>
        <% if user.lacquers.include?(lacquer) %>
        <i class="fa fa-check pull-right"></i>
        <% end %>
      </div>
    </div>
    <div class="panel-body" style="text-align:center;">
    <%= picture_for(lacquer) %>
    </div>
  </div>
</div>