<h1>Brands</h1>

<ul class="list-group">

  <% @brands.order(:name).each do |brand| %>

    <li class="row list-group-item" id="<%= brand.id %>">
    <div class="col-xs-4">
      <span class="no-underline" style="padding: 5px;">
      <strong><%= link_to brand.name, brand_path(brand) %></strong>
      </span><br>
      <span class="item-brand" style="margin-right:0;"><%= pluralize(brand.lacquers.count, "lacquer") %></span>
      <span class="item-brand" style="margin-left:-4px;">
        <% if brand.favorites.any? %>
        <a class="no-underline toggle toggle-favorites"><%= pluralize(brand.favorites.count, "favorite") %></a>
        <% else %>
          <span><%= pluralize(brand.favorites.count, "favorite") %></span>
        <% end %>
      </span>
      <span class="item-brand-last">
        <% if current_user && brand.users.any? %>
          <a class="no-underline toggle toggle-users"><%= pluralize(brand.users.count, "lacquer lover") %></a>
        <% else %>
          <span><%= pluralize(brand.users.count, "lacquer lover") %></span>
        <% end %>
      </span>
    </div>




      <div class="col-xs-8 slide-right brand-favorites" style="display: none;">
        <ul class="row" style="display: inline;">
        <% Lacquer.find(brand.favorites.pluck(:lacquer_id)).each do |lacquer| %>
          <li class="col-xs-5" style="list-style-type: none;">
            <%= link_to lacquer.name, lacquer_path(lacquer) %> (<strong><%= lacquer.favorites.count %></strong> <%= 'favorite'.pluralize(lacquer.favorites.count) %>)
          </li>
        <% end %>
        </ul>
      </div>

      <% if current_user %>
        <div class="col-xs-8 slide-right brand-lacquer-lovers" style="display: none;">
          <ul class="row" style="display: inline;">
          <% brand.users.each do |user| %>
            <li class="col-xs-4" style="list-style-type: none;">
              <%= link_to user.name, user_path(user) %> (<strong><%= user.lacquers.where(brand_id: brand.id).count %></strong> <%= 'lacquer'.pluralize(user.lacquers.where(brand_id: brand.id).count) %>)
            </li>
          <% end %>
          </ul>
        </div>
      <% end %>
    </li>

  <% end %>

</ul>
