<%= form_for @review, class: "form-horizontal" do |f| %>
  <p>
  <%= f.hidden_field :user_id, value: current_user.id %>
  <div class='form-group col-md-12'>
    <%= f.label :rating, "Rating (1 = 'yuck', 5 = 'love it')" %>
    <%= f.number_field :rating, in: 1..5, class: "form-control" %>
  </div>
  <div class='form-group col-md-12'>
    <%= f.label :comments, class: "control-label" %>
    <%= f.text_area :comments, class: "form-control" %>
  </div>
  <div class='form-group col-md-12'>
  <%= f.submit class: "btn btn-default" %>
  </div>
  </p>
<% end %>
