<nav class="nav navbar navbar-default navbar-fixed-top" roll="navigation">
  <div class="container-fluid">
  
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-main">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to("Lacquer Love&Lend", root_path, class: "navbar-brand") %>
    </div>

    <div class="navbar-collapse collapse" id="navbar-main">
    
        <!-- <%# if session[:user_id] %>
          <ul class="nav navbar-nav">
            <li>
              <%#= link_to("Welcome, #{current_user.first_name}! See your profile.", user_path(current_user))  %>
            </li> 


            <li><%#= link_to("Find a Friend", users_path) %></li>
            <li><%#= render 'layouts/search_form' %></li>
          </ul>
        <%# else %> -->
          <%= render 'layouts/lacquer_search_form' %>
          <% if current_user %>
            <%= render 'layouts/friend_search_form' %>
          <% end %>
          <ul class="nav navbar-nav navbar-right">
              <% if session[:user_id] %>
              <li>
                <%= link_to("Welcome, #{current_user.first_name}! See your profile.", user_path(current_user)) %>
              </li>
              <li>
                <%= link_to("Sign Out", signout_path, id:"sign_out") %>
              </li>
              <% else %>
              <li>
                <%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in" %>
              </li>
              <% end %>
    <!--         <li>
              <%#= form_for @user, :url => sessions_path, :html => { :style => "padding:15px;" } do |f| %>
                <%#= f.text_field :name, placeholder: "your name" %>
                <%#= f.submit "Sign In" %>

              <%# end %>

            </li> -->
          </ul>
        <%# end %>

            

    </div>
  </div>
</nav>
