<nav class="nav navbar navbar-default navbar-fixed-top" roll="navigation">
  <div class="container-fluid">
  
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-main">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <strong><%= link_to("Lacquer<img src='/assets/ampersand_heart_red_and_transparent.png' height='22' width='22' style='display: inline-block;'>Lend".html_safe, root_path, class: "navbar-brand", title: "Lacquer Love And Lend") %></strong>
    </div>

    <div class="navbar-collapse collapse" id="navbar-main">
          <ul class="nav navbar-nav">
            <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Find a Lacquer <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li>
                  <%= render 'layouts/lacquer_search_form' %>
                </li>
              </ul>
            </li>
            <% if current_user %>
              <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Find a Lacquer Lover <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li>
                  <%= render 'layouts/friend_search_form' %>
                </li>
              </ul>
              </li>
            <% end %>
          </ul>
          <ul class="nav navbar-nav navbar-right">
              <% if session[:user_id] %>
              <li>
                <%= link_to("Welcome, #{current_user.first_name}! See your profile.", user_path(current_user)) %>
              </li>
              <li>
                <%= link_to("Sign Out", signout_path, id:"sign_out") %>
              </li>
              <% else %>
              <li>
                <%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in" %>
              </li>
              <% end %>
            <%# if !current_user %>
            <!-- <li> -->
              <%#= form_for User.new, :url => sessions_path, :html => { :style => "padding:15px;" } do |f| %>
                <%#= f.text_field :name, placeholder: "your name" %>
                <%#= f.submit "Sign In" %>

              <%# end %>

            <!-- </li> -->
            <%# end %>
          </ul>
        <%# end %>

            

    </div>
  </div>
</nav>
